.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.green {
    background: lightgreen;
}

.green-text {
    color: darkslateblue;
}

.yellow {
    background: gold;
}

.yellow-text {
    color: black;
}

.white {
    background: white;
}

.white-text {
    color: indigo;
}