.App {
    background-color: powderblue;
}

.links {
    display: flex;
    transition-duration: 500ms;
    transform: translate(-300px);
    border: solid black thin ;
    width: 400px;
    color: black;
    margin:20px;

    background-color: aliceblue;
    text-align: center;
}

.inner {
    display: inline-block;
    margin: 20px;

}

.links:hover {
    transition-duration: 500ms;
    transform: translate(0);
}


