.wrap {
    display: flex;
    align-items: flex-end;
    margin: 15px;
}

.wrap img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message {
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: rgba(255,255,255,0.3);
}

.tail {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0,rgba(0,0,0,0) 15px,rgba(255,255,255,0.3)0);
}

.msg {min-width:150px;
    max-width: 300px;
    word-wrap: break-word;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: orchid ;
}

.time {
    display: flex;
    justify-content: flex-end;
    color: gray;
}

